<div class="card">
    <div class="card-container">
        <div class="card-header">
            <img id="work-experience-logo" alt="Logo" class="logo-image">
            <div>
                <span id="work-experience-job-title"></span> <br/>
                <span id="work-experience-company"></span> | <span id="work-experience-location"></span><br/>
                <span id="work-experience-duration"></span>
            </div>
        </div>
        <div class="card-body">
            <p id="work-experience-description"></p>
            <ul id="work-experience-responsibilities">
            </ul>
        </div>
    </div>
</div>