<div class="card">
    <div class="card-container">
        <div class="card-header">
            <div class="company-logo">
                <img id="work-experience-logo" alt="Logo" class="logo-image">
            </div>
            <div>
                <span id="work-experience-job-title"></span> <br/>
                <span id="work-experience-company"></span> | <span id="work-experience-location"></span><br/>
                <span id="work-experience-duration"></span>
            </div>
        </div>
        <div class="card-body">
            <p id="work-experience-description"></p>
            <div class="work-experience-divider"><hr class="work-experience-line"/> || <hr class="work-experience-line"/></div>
            <span id="work-responsibilities-title">Main responsibilities:</span>
            <ul id="work-experience-responsibilities">
            </ul>
        </div>
    </div>
</div>