
.card {
  width: 100%;
  height: 500px;
  max-width: 800px;
  margin: 20px auto;
  border: 1px solid #DDD;
  background-image: url("../images/bg_card_lines.jpg");
  background-size: cover;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
  height: 100%;
  overflow: hidden;
  font-family: "Roboto", sans-serif;   
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.6));
  backdrop-filter: blur(4px);
  padding: 10px;
}

.card-header {
  padding: 30px;
  background-color: black;
  border-bottom: 1px solid #DDD;
  align-items: center;
  justify-content: center;
}

.card-header img {
  border-radius: 50%;
  display: inline-block;
  width: 60px;
  height: 60px;
}

.card-header div {
  display: inline-block;
  margin-left: 20px;
  color: #fff;
  word-wrap: break-word;
  overflow: hidden;
}

.card-header div span {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

#work-experience-job-title {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}

.card-body {
  padding: 30px;
  text-align: justify;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
}

.card-body p {
  margin-bottom: 20px;
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 15px;
}

.card-body ul {
  list-style-type: disc;
  margin-left: 5px;
  word-wrap: break-word;
}
