.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg_developer_coffee_shop.jpg");
  background-size: cover;
  position: relative;
  padding: 50px;
  color: white;
}

.profile-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0,0,0,0.6);
  backdrop-filter: blur(5px);
}

.profile-picture {
  flex: 1 1 400px;
  max-width: 400px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 60px;
  margin-right: 60px;
  background-color: white;
  position: relative;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.profile-picture img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

.profile-details {
  flex: 1 1 400px;
  max-width: 400px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
  line-height: 1.5;
}

.email-link {
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400 !important;
  letter-spacing: 1px;
  transition: background-color 0.2s ease-in-out;
}

.email-link:hover {
  color: #0077B5;
}

@media screen and (max-width: 200px) {
  .profile-container {
    flex-direction: column;
    text-align: center;
  }

  .profile-picture,
  .profile-details {
    max-width: 100%;
    margin-right: 0;
  }

  .profile-details {
    margin-top: 20px;
  }
}